.bar {
  transition: $transition;
  background-color: $bg;

  .bar-container {
    min-width: 2px;
    min-height: 2px;
    padding: $bar-padding;

    .bar-item {
      padding: $bar-item-padding;
      // margin: $spacing;
      border-radius: 99rem;
      border: $border;
      background-color: $widget-bg;
      transition: $transition;

      // >*:not(:last-child) {
      //     margin-right: 0.5rem;
      // }

      &:hover {
        background-color: $hover-bg;
      }

      .date {
        color: $fg;
      }
    }
  }
}
