

.bar {
    transition: $transition;
    background-color: $bg;

    .icon {
        color: $fg;
    }

    .bar-item {
        padding: $padding;
        margin: $spacing;
        border-radius: $radius;
        border: $border;
        background-color: $widget-bg;
        transition: $transition;

        &:hover {
            background-color: $hover-bg;
        }

        .bar-item-text {
            color: $fg;
        }
    }


}