.bar {
  transition: $transition;
  background-color: $bg;

  .bar-container {
    min-width: 2px;
    min-height: 2px;
    padding: $bar-padding;

    .bar-group {
      > *:not(:last-child) {
        margin-right: $bar-group-spacing;
      }

      .bar-group-item {
        padding: $bar-group-item-padding;
        border-radius: 99rem;
        border: $border;
        background-color: $widget-bg;
        transition: $transition;

        > *:not(:last-child) {
          margin-right: $bar-group-item-spacing;
        }
      }
    }
  }
}
