$_shadow-size: 2.5rem;
$_radius: $hyprland-radius + $hyprland-outer-gap;
$_margin: 99px;

window.screen-corner:not(.hidden) {
  transition: $transition;

  box.shadow {
    margin-right: $_margin * -1;
    margin-left: $_margin * -1;

    box-shadow: inset 0 0rem $_shadow-size 0.75rem $shadow-color;

    margin-bottom: $_margin * -1;
  }

  box.corner {
    margin-right: $_margin;
    margin-left: $_margin;
    border-radius: if($radius>0, $_radius, 0);
    box-shadow: 0 0 0 $_radius $bg;
  }
}
